{% extends 'base.html.twig' %}

{% block body %}
    <h1>Buy/Sell Player</h1>
    {{ form_start(form) }}
    {{ form_row(form.player) }}
    {{ form_row(form.amount) }}
    {{ form_end(form) }}
{% endblock %}
